/* Global */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background: url('piv.avif') no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  background: #d8bb9bd4;
  padding: 15px 8px;
  position: relative;
  z-index: 1000;
}

.logo {
  font-size: 30px;
  color: #793904;
}

.logo span {
  color: rgba(240, 240, 6, 0.721);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 0 30px;
  list-style: none;
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(222, 241, 5);
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.4s;
}

.nav-links a:hover {
  background: rgb(132, 116, 82);
}

/* Home Section */
#home-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  
}

.text-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.text-container h2 {
  color: #dd6a0d;
  text-align: center;
  margin-bottom: 15px;
  font-size: 32px;
}

.text-container p {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.image {
  width: 50%;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  transform: translateY(-90px);
  transition: transform 0.2s;
}

/* Services Section */
#services {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px #788001;
  padding: 15px;
}

#services h2 {
  padding: 8px 25px;
  border-radius: 10px;
  color: #dd6a0d;
  text-align: center;
  font-size: 30px;
  display: table;
  margin: 0 auto;
  background: #475c01a5;
}

#services p {
  font-size: large;
  margin-top: 15px;
  text-align: center;
}

#services ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 15px;
  list-style: none;
  font-size: 20px;
}

.card {
  color: #834703;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
  background: rgba(204, 215, 183, 0.785);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px #9ec902;
  transition: 0.4s ease, box-shadow 0.3s;
}

.card:hover {
  color: #bc6c25;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px #9ec902;
  font-size: 22px;
}

/* Todo Section */
.todo-section {
  width: 60%;
  margin: 90px auto 0;
  background: transparent;
  border-radius: 15px;
  box-shadow: 0 0 15px #a8a5a5;
  padding: 40px 50px;
  text-align: center;
}

.todo-section h1 {
  width: fit-content;
  margin: 0 auto 20px auto;
  text-align: center;
  padding: 10px;
  color: #dd6a0d;
  background: #475c01a5;
  border-radius: 20px;
}

.todo-input {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

#taskInput {
  font-size: 15px;
  padding: 10px;
  width: 70%;
  background: rgba(204, 215, 183, 0.785);
  border: none;
  border-radius: 10px;
}

#addBtn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: #fcbf49;
  color: white;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s ease-in;
}

#addBtn:hover {
  background: #a87103;
  font-size: 16px;
  cursor: pointer;
}

#clearCompleted {
  margin-top: 15px;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  background: #a87103;
  color: wheat;
  font-weight: 600;
  cursor: pointer;
  transition: 0.7s ease;
}

#clearCompleted:hover {
  background: #f5bd4d;
}

.todo-section li{
  background: rgb(166, 195, 49);
  padding-left: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  gap: 10px;
}

 li span{
  flex: 1;
}

li input[type="text"]{
  flex: 1;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 16px;
  background: #bfd39e;
  margin-right: 10px;
}
li button{
  border: none;
  background: none;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
}

li button.edit-btn{
  color: #28a745; 
}

li button.edit-btn:hover{
  transform: scale(1.2);
}

li button.delete-btn{
  color: #dc3545; 
}

li button.delete-btn:hover{
  transform: scale(1.2);
}

.completed{
  text-decoration: line-through;
  opacity: 0.6;
}


button{
  cursor: pointer;
}

.todo-section ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.todo-section li.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

.check-btn {
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin-right: 10px;
}
a
.delete-btn {
  color: #ff4d4d;
  font-weight: bold;
  padding: 4px;
  text-decoration: none;
}

/* Contact Section */
#contact {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px #788001;
  padding: 40px;
}

#contact h2 {
  padding: 8px 25px;
  border-radius: 10px;
  color: #dd6a0d;
  text-align: center;
  font-size: 30px;
  background: #475c01a5;
  display: table;
  margin: 0 auto;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
  margin-top: 70px;
  background: #b2c182a5;
  border-radius: 10px;
  padding: 10px 8px;
  flex-wrap: wrap; /* لتكون متجاوبة */
}

.info .contact-info-list li {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
}

.info .contact-info-list li i {
  font-size: large;
  color: rgb(184, 52, 4);
}

.contact-form {
  max-width: 50%;
  flex: 1;
}

.contact-form .form-input {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  outline: none;
  margin-bottom: 16px;
  background: rgba(204, 215, 183, 0.785);
  border-radius: 10px;
  border: 1px solid gray;
  transition: 0.3s ease;
}

.contact-form .form-input:focus {
  border-color: orange;
}

.contact-form .submit-button {
  padding: 10px 26px;
  margin-top: 10px;
  color: white;
  font-size: medium;
  font-weight: medium;
  background: rgba(240, 99, 6, 0.555);
  border-radius: 15px;
  border: 1px solid orange;
  transition: 0.3s ease;
}

.contact-form .submit-button:hover {
  background: rgba(240, 99, 6, 0.8);
  cursor: pointer;
}

/* Footer Section */
.footer-section {
  padding: 20px 0;
  background: rgb(218, 242, 138);
}

.footer-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section :where(.copyright-text,
.social-link, .policy-link) {
  color: rgb(148, 97, 2);
  transition: 0.2s ease;
}

.footer-section .social-link-list {
  display: flex;
  gap: 25px;
}

.footer-section .social-link-list .social-link {
  font-size: large;
}

.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover {
  color: orange;
}

.footer-section .policy-text .separator {
  margin: 0 5px;
  color: white;
}

/* Media Queries */
@media (max-width: 768px) {
  #home-section,
  .info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text-container,
  .image,
  .contact-form {
    width: 90%;
    margin: 0 auto;
  }

  #services ul {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .todo-section {
    width: 90%;
    margin: 50px auto 0;
  }
}
